body {
    max-width: 100%;
    background-color: #dcdde1;
}

figure {
    margin: 0; 
}

.areaLogin { 
    background-color: #fff;
    width: 450px;
    height: 300px;
    margin: auto;
    margin-top: 20%;   
    box-shadow: 1px 1px 1px gray; 
}

.interiorAreaLogin {
    width: 85%;
    margin: auto;
}

.caixaLogin {
    position: relative; 
    width: 350px;
    padding: 15px;
    margin-top: 15px;

    border: 0px;
    border-bottom: 1px solid gray;
}

.botaoLogin { 
    text-decoration: none; 
    background-color: var(--mainLaranja); 
    border: none; 
    padding: 10px; 
    border-radius: 5px; 
    width: 80px; 
    color: white; 
    margin-top: 25px;
}

@media only screen and (max-width: 600px)
{ 
    main{height: 100%;width: 100%;}
    .logo{margin-top:10%;margin-bottom: 35%;}
    .areaLogin{
        margin:0;
        width: auto;
        height: 650px;
        box-shadow: none;
    }
    .caixaLogin{
        width: 90%;
    }
}
