.areaTitulo{ text-align: center; }
.titulo{ font-size: 20px; color: #fff;}

.paddingAreaDados{
    padding: 10px;
}

.areaNota{
    width: 100%;
    background-color: var(--azulSecundario);
    height: auto;
    margin-top: 10px;
}

.areaBoletim{
    background-color: #fff;
    height: auto;
    min-height: 300px;
    border-radius: 5px;
}

.areaDadosNota{
    margin-top: 10px;
    height: auto;
    min-height: 350px;
}

.paddingAreaDadosNota{
    padding: 10px;
}

.areaDescricao{
    width: 100%;
    height: auto;
    min-height: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: -10px;
}

.paddingAreaDescricao{
    padding: 5px;
}

.areaGrafico{
    margin-top: 10px;
    height: 290px;
    background-color: var(--mainLaranja);
    border-radius: 5px;
}